$bgcolor: #000033
$color: #00ee00

$bgcolor2: #000022
$color2: #009900

.nofingmargin
  margin: 0
  padding: 0

section
  background-color: $bgcolor
  color: $color

body,
html
  background-color: $bgcolor
  color: $color
  margin: 0
  padding: 0

a
  color: $color

h6,
h5,
h4,
h3,
h2,
h1
  color: $color

.hero-head
  background-color: $bgcolor2
  color: $color

.hero-body
  background-color: $bgcolor
  color: $color
  padding: 1em
  width: 100%

.hero-foot
  background-colocr: $bgcolor2
  color: $color
  padding: 1em
  width: 100%

.headtastic
  background-color: $bgcolor2
  color: $color2
  padding: 1em
  width: 100%

.headtastic
  background-color: $bgcolor2
  color: $color2
  padding: 1em
  width: 100%


.portal
  margin: 0 auto
  max-width: 700px
  padding: rhythm(2)
  padding-top: rhythm(1.5)

.Thor-center
  display: block
  margin: 0 auto

.hammerTime
  padding: 2em
