@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$bgcolor: #000033;
$color: #00ee00;

$bgcolor2: #000011;
$color2: #009900;
$bgcolor: #000033;
$color: #00ee00;

$bgcolor2: #000011;
$color2: #009900;

@import "~bulma/bulma.sass";
